<div class="container">
    <div class="col-md-12"><h1 style="text-align:center">Location</h1><br><hr></div>
    
    <div class="col-md-7">
        
        <h3 >Logement</h3>
        <div class="col-md-6">
            <p><span><img src="images/location/icons/guesticon.png" class="locationicon"></span>13 voyageurs</p>
            <p><span><img src="images/location/icons/doublebed.png" class="locationicon"></span>7 chambres</p>
            <p><span><img src="images/location/icons/doublebed.png" class="locationicon"></span>6 lits doubles</p>
            <p><span><img src="images/location/icons/singlebed.png" class="locationicon"></span>1 lit simple</p>
        </div>
        
         <div class="col-md-6">
             <p><span><img src="images/location/icons/sofaicon.png" class="locationicon"></span>3 salons</p>
            <p><span><img src="images/location/icons/kitchenicon.png" class="locationicon"></span>1 cuisine américaine</p>
            <p><span><img src="images/location/icons/bathroomicon.png" class="locationicon"></span>2 SDE + 3 SDB</p>
            <p><span><img src="images/location/icons/wcicon.png" class="locationicon"></span>6 WC</p>
        </div>
       
    
    </div>
    <div class="col-md-5">
        <ng-image-gallery images="imagesLocation" methods="methodsLocation" conf="conf" thumbnails="true" thumb-size="50" inline="true" bubbles="true" img-bubbles="true" bg-close="true" on-open="opened();" on-close="closed();" bg-close="false"></ng-image-gallery>
    
    </div>
    <div class="col-md-12">
         <hr>
            <h3>Equipement</h3>
            
    <div class="col-md-3">
            <p><span><img src="images/location/icons/poolicon.png" class="locationicon"></span>Piscine privée</p>
            <p><span><img src="images/location/icons/basketballicon.jpeg" class="locationicon"></span>Demi-terrain de basket</p>
            <p><span><img src="images/location/icons/pingpongicon.png" class="locationicon"></span>Tennis de Table</p>
            <p><span><img src="images/location/icons/tennisicon.png" class="locationicon"></span>Tennis gratuit à proximité</p> 
            <p><span><img src="images/location/icons/petanqueicon.png" class="locationicon"></span>Pétanque</p>
        </div>
        
         <div class="col-md-3">
            <p><span><img src="images/location/icons/wifiicon.png" class="locationicon"></span>Wifi</p>
            <p><span><img src="images/location/icons/tvicon.png" class="locationicon"></span>Télévision grand écran</p>  
            <p><span><img src="images/location/icons/musicicon.png" class="locationicon"></span>Chaine hifi</p>
            <p><span><img src="images/location/icons/bookicon.png" class="locationicon"></span>Bibliothèque</p>
            <p><span><img src="images/location/icons/gamesicon.png" class="locationicon"></span>Jeux de société</p>
        </div>
        <div class="col-md-3">
            <p><span><img src="images/location/icons/parkingicon.png" class="locationicon"></span>Parking</p>
            <p><span><img src="images/location/icons/washingmachineicon.png" class="locationicon"></span>Machine à laver</p>
            <p><span><img src="images/location/icons/ironingicon.png" class="locationicon"></span>Fer à repasser</p>
            <p><span><img src="images/location/icons/dishwashericon.png" class="locationicon"></span>Lave-Vaisselle</p>
            <p><span><img src="images/location/icons/kitchenequipmenticon.png" class="locationicon"></span>Ustensiles de cuisine</p>
        </div>
        
         <div class="col-md-3">
             <p><span><img src="images/location/icons/barbecueicon.png" class="locationicon"></span>Barbecue</p>
             <p><span><img src="images/location/icons/ovenicon.png" class="locationicon"></span>Four</p>
            <p><span><img src="images/location/icons/microwaveicon.png" class="locationicon"></span>Microonde</p>
            <p><span><img src="images/location/icons/bouilloireicon.png" class="locationicon"></span>Bouilloire</p>
            <p><span><img src="images/location/icons/coffeemachineicon.png" class="locationicon"></span>Cafetières Nespresso et à filtre </p>
        </div>
    

    </div>


</div> 
