<div class="container">
    <div class="col-md-12"><h1 style="text-align:center">Features</h1><br><hr></div>
    
    <div class="col-md-7">
        
        <h3 >Logement</h3>
        <div class="col-md-6">
            <p><span><img src="images/location/icons/guesticon.png" class="locationicon"></span>13 people</p>
            <p><span><img src="images/location/icons/doublebed.png" class="locationicon"></span>7 rooms</p>
            <p><span><img src="images/location/icons/doublebed.png" class="locationicon"></span>6 double beds</p>
            <p><span><img src="images/location/icons/singlebed.png" class="locationicon"></span>1 simple bed</p>
        </div>
        
         <div class="col-md-6">
             <p><span><img src="images/location/icons/sofaicon.png" class="locationicon"></span>3 living rooms</p>
            <p><span><img src="images/location/icons/kitchenicon.png" class="locationicon"></span>1 american kitchen</p>
            <p><span><img src="images/location/icons/bathroomicon.png" class="locationicon"></span>5 bathrooms</p>
            <p><span><img src="images/location/icons/wcicon.png" class="locationicon"></span>6 WC</p>
        </div>
       
    
    </div>
    <div class="col-md-5">
        <ng-image-gallery images="imagesLocation" methods="methodsLocation" conf="conf" thumbnails="true" thumb-size="50" inline="true" bubbles="true" img-bubbles="true" bg-close="true" on-open="opened();" on-close="closed();" bg-close="false"></ng-image-gallery>
    
    </div>
    <div class="col-md-12">
         <hr>
            <h3>Amenities</h3>
            
    <div class="col-md-3">
            <p><span><img src="images/location/icons/poolicon.png" class="locationicon"></span>Private Pool</p>
            <p><span><img src="images/location/icons/basketballicon.jpeg" class="locationicon"></span>Basketball field</p>
            <p><span><img src="images/location/icons/pingpongicon.png" class="locationicon"></span>Ping Pong</p>
            <p><span><img src="images/location/icons/tennisicon.png" class="locationicon"></span>Free tennis court</p> 
            <p><span><img src="images/location/icons/petanqueicon.png" class="locationicon"></span>Pétanque</p>
        </div>
        
         <div class="col-md-3">
            <p><span><img src="images/location/icons/wifiicon.png" class="locationicon"></span>Wifi</p>
            <p><span><img src="images/location/icons/tvicon.png" class="locationicon"></span>TV</p>  
            <p><span><img src="images/location/icons/musicicon.png" class="locationicon"></span>Stereo</p>
            <p><span><img src="images/location/icons/bookicon.png" class="locationicon"></span>Library</p>
            <p><span><img src="images/location/icons/gamesicon.png" class="locationicon"></span>Board games</p>
        </div>
        <div class="col-md-3">
            <p><span><img src="images/location/icons/parkingicon.png" class="locationicon"></span>Parking</p>
            <p><span><img src="images/location/icons/washingmachineicon.png" class="locationicon"></span>Washing machine</p>
            <p><span><img src="images/location/icons/ironingicon.png" class="locationicon"></span>Ironing Kit</p>
            <p><span><img src="images/location/icons/dishwashericon.png" class="locationicon"></span>Dishwasher</p>
            <p><span><img src="images/location/icons/kitchenequipmenticon.png" class="locationicon"></span>Kitchen tools</p>
        </div>
        
         <div class="col-md-3">
             <p><span><img src="images/location/icons/barbecueicon.png" class="locationicon"></span>Barbecue</p>
             <p><span><img src="images/location/icons/ovenicon.png" class="locationicon"></span>Oven</p>
            <p><span><img src="images/location/icons/microwaveicon.png" class="locationicon"></span>Microwave</p>
            <p><span><img src="images/location/icons/bouilloireicon.png" class="locationicon"></span>Kettle</p>
            <p><span><img src="images/location/icons/coffeemachineicon.png" class="locationicon"></span>Coffee Machine</p>
        </div>
    

    </div>


</div> 
